patinoire { display: block }

/* modern.css */
nom { font-family: sans-serif; background: white; color: black }
AUTHOR { margin: 1em; color: red }
HEADLINE { text-align: center; margin-bottom: 2em }
PARA { line-height: 1.5; margin-left: 15%; margin-right:15%; box-shadow: 5px 5px  15px  black;padding: 5px; }
INSTRUMENT { color: green; font-weight:bold; }

