
/* super important... fait que deux boites 50% donnent 100% */
* { box-sizing:border-box; }

body  {
    font-family: Ubuntu, Arial, Helvetica, sans-serif;
    margin: 0px;
}

.debug { border: 4px solid red; }
.debug1 { border: 1px solid green; }
.debug2 { border: 1px solid blue; }
.bg-rouge { background-color:lightred; }

/* general */

a  { color:#fff; }
.non { display:none; }

/*  header  */
header  {
  padding: 80px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 4em;
  font-weight: bold;
}


nav   { }
nav ul {
    margin: 0px;
    padding: 0px;
    background-color:#000;
}
nav li {
    padding:20px 32px;
    display:inline-block;
    color:#fff;
    background-color:#000;
    vertical-align:middle;
    text-align:center;
    cursor:pointer;
    white-space:nowrap
}

nav li:hover {
  background-color: #444;
}

/*****************/

.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column; /*  mobile first  */
}

@media screen and (min-width: 700px) {
    .row {
      flex-direction: row;
    }
}

.menu {
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
}

.recettes {
  flex: 70%;
  background-color: white;
}

/***************/
.recettes {
  display: flex;
  flex-wrap: wrap;
}

.recette {
    flex:100%;
    background-color:#c88;
    margin-bottom: 20px;
}
.recette:last-child {
    margin-bottom:  0px;
}

.titre {
    flex:100%;
    background-color:#888;
}
.description {
    flex:100%;
    background-color:#ccc;
}
.ingrédients {
    flex:100%;
    background-color:#888;
}
.étapes {
    flex:100%;
    background-color:#ccc;
}
.notes {
    flex:100%;
    background-color:#888;
}


footer {
  padding: 20px; /* Some padding */
  text-align: center; /* Center text*/
  background: #ddd; /* Grey background */
}

#roys { display:none; }


