body {
    font-family:sans-serif;
}

h1,h2,h3 {
    font-family:cursive;
    color: purple;
}

h2 {
    border-top:3px solid black
}

h3 {
    padding:0px;
    margin:0px;
}

blockquote, #mesures {
    font-style:italic;
    text-align:right
}

.ingredient {
    color:blue;
}

ul, body > ol {
    border: 2px solid red;
    padding-top:5px;
    padding-bottom: 5px;
}

.operation {
    color: green;
    font-style: normal;
}

ol ol {
    list-style-type:lower-latin;
}

body > ol > li {
    margin: 5px 0;
}

.metrique, .imperial{
    font-style:italic;
}

#mesures, #mesures-label {
    display:none
}

.metrique {
    display:inline;
}

.imperial {
    display:none
}

/* décommenter pour l'affichage dynamique des unités */

#mesures, #mesures-label {
    display:inline
}

#mesures:checked ~ ul .metrique {
     display:none;
}

#mesures:checked ~ ul .imperial {
    display:inline
}
