* {
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}
/* INDEX */
.index{
    background-image: url("ressources/bg-index-section01.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh;
    width:auto;
    /*position:relative;*/
}
.laureat {
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: larger;
}
.overlay{
    display:flex;
    justify-content: center;
    /* position:absolute; */
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    margin:0;
}
.mot-index{
    color: white;
    align-self: center;
    font-family:'Courier New', Courier, monospace;
    font-size: 4em;
}

.index-presentation{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: whitesmoke;
    height: fit-content;
    width:100%;
}
h1{
    align-self:center;
    margin-top:0;
}
.presentation-element{
    margin: 10% 2% 5% 2%;
    padding:0;
    width:25%;
}
.presentation-element p{
    font-size: large;
    margin:0;
    margin-top:40px;
}
.image{
    width:100%;
    height:100%;
    filter: grayscale(100%);
    /* border-radius: %; */

}

.navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(249, 240, 223, 0.934);
    padding: 5px 50px;
    position: fixed;
    width:100%;
    z-index: 30;

}
.logo{
    color: white;
    font-size: 25pt;
}
.logo-img{
    width:55px;
    height:55px;
}

.links{
    display:flex;
    list-style: none;
}

.links li a{
    color: black;
    text-decoration: none;
    margin-right: 25px;
}
.links li a:hover{
    color:rgb(216, 140, 0);
}

footer{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width:100%;
    text-align:center;
    background-color:#191919;
    color:whitesmoke;
    padding-top: 10px;
    padding-bottom: 10px;
}

@media screen and (max-width: 600px) {
    .index-presentation{
        flex-direction:column;
        justify-content: center;
    }
    .presentation-element{
        align-self: center;
    }
    .presentation-element{
        margin: 10% 2% 5% 2%;
        padding:0;
        width:65%;
    }
    #personnalisation{
        margin-left:10%;
    }
}

