

body  {
    font-family: "Special Elite", cursive;
    font-size:1.25em;
    line-height:1.5em;
    margin:0;
    padding:0;
}

h1 {
    font-family: "Courgette";
}

#recettes article  {
    background-color:#cccccc;
    padding:15px;
    margin:15px;
}

.titre {
    background-color: orange;
    padding: 15px;
    margin:0;
}

.photo { }

.informations {
    background-color: pink;
    padding:10px;
    display: grid;
    grid-template-columns:  1fr 1fr 1fr 1fr;
}

.categories {
    background-color: #ddddee;
    padding: 10px;
}
.categories li {  margin-left:15px;  }

.sources {
    background-color: #eeffee;
    padding: 10px;
}

.extra {
    background-color: #eeffee;
    padding: 10px;
}

.description {
    background-color: #dddddd;
    padding: 10px;
}

.partiesRegroupees {
    display: grid;
    grid-template-columns: 50% 50%;
}

.ingredients {
    background-color: #bbbbff;
    padding: 10px;
}
.ingredients h2 {
    background-color: #cccccc;
    padding: 10px;
}

.etapes {
    background-color: #bbffbb;
    padding: 10px;
}
.etapes h2 {
    background-color: #cccccc;
    padding: 10px;
}

/*********/
.partiesSeparees {
    display: grid;
    grid-template-columns: 50fr 50fr;
    gap: 15px;
    background-color:  #aaddaa;
    padding: 10px;
}
.partiesSeparees h3  {
    grid-column: 1 /  span  2;
    background-color: #cccccc;
    text-align: center;
    margin: 0;
    padding:  10px;
}

/************* pas de  visibilite  pour les  index **********/
.index {  display: none; }

/*****  unites  visibles  avec  la  classe  uniteVisible ****/
.quantite { font-weight: bold; }
.quantite.invisible  { display:none; }

/**  pour  les  boutons  **/
.choixSysteme  {
    position: fixed;
    top:0;
    right:0;
    padding:15px;
    margin:15px;
}
