/* Quote */

#diapos blockquote {
    position: relative;
    margin-left: 64px;
    padding: 32px;
    font-style: italic;
}

#diapos blockquote::before {
    position: absolute;
    left: -0.3em;
    top:0px;
    /*margin: -0.15em 0 0 -0.43em;*/
    /*margin: 0 0 0 0;*/
    color: #cccccc;
    /*line-height: 1;*/
    font-size: 6em;
    content: '\201C';
}

/* Author */

/*
#diapos blockquote + figcaption {
    margin: -1em 0 1em;
    font-style: italic;
    font-weight: bold;
}
*/
