/* Table */

#diapos section table {
    margin-left: 0;
    margin-bottom: 1em;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

/* Cells */

#diapos section th,
#diapos section td {
    padding-top: 8px;
    padding-bottom: 8px;
}

#diapos section th {
    text-align: left;
    font-weight: bold;
}

#diapos section th:first-child,
#diapos section td:first-child {
    padding-left: 48px;
}

#diapos section th:last-child,
#diapos section td:last-child {
    padding-right: 48px;
}

/* Lines */

#diapos section table:not(.striped) tr:not(:last-of-type) {
    border-bottom: 3px solid #888;
}

/* Stripes */

#diapos section table.striped tr:nth-child(even) {
    background-color: #dddddd;
}
#diapos section table.striped tr:nth-child(odd) {
    background-color: #eeeeee;
}


/* Marked Row */

#diapos section tr.mark {
    background-color: #eeee88;
}

/* Next Marked Row */

/*
#diapos section tr.mark.next {
    visibility: visible;
    background-color: transparent;
}

#diapos section tr.mark.next.active,
#diapos section tr.mark.next.visited {
    background-color: #eeee88;
}
*/
