
.toto  {  background-color:orange; }
.toto::before {  content:"@@@@@ ";}

h1, h2, p, code  { font-family: sans; }

h1  { color:red; }
h2  { color:orange; }

li { list-style-type: square; }

a { color:green; }
a:active { font-weight: bold; }

p::before {  content:">>> ";}
p::after {  content:" <<<";}
a:hover  {  background-color:yellow; }

a:link  {  background-color:blue; }
a:visited  {  background-color:black; }

h1:hover  {  background-color:yellow; }

h1::first-letter { font-size: 3em; color:blue; }
p::selection { color:blue;background-color:red; }


