/*  positionnement  absolu  */
/*  place (top|bottom|t|b)  (left|right|l|r) */
@import "elements/place.css";

/* positionnement background */
/* cover  [width|w] [height|h] */
@import "elements/cover.css";

/* table */
@import "content/table.css";

/* blockquote  */
@import "content/quote.css";

:root {
  --bg: #ffffdd;
  --white: #ffffff;
  --fond: black;
  --devant: white;
  --gray: #cccccc;
  --diapoW: 1024px;
  --diapoH: 576px;
  --gap: 40px;
  --nbc: 3; /* nombre de colonnes en mode multi */
}

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  background: var(--fond); /* pas normal, mais bon  */
  color: var(--devant); /* couleur  de base */
  /*font-size: 1rem;*/
}

/** pas de scroll en mode single **/
body {
  overflow-y: scroll;
}
body.single {
  overflow-y: hidden;
}

/*  enleve  tout ce qui  est pour  le mode  multi  si  on  est  single */
.single header {
  display: none;
}
.single footer {
  display: none;
}

.nowrap { white-space: nowrap; }

/******* header / footer **********/
header,
footer {
  font-family: ubuntu, sans-serif;
  font-weight: 700;
  margin: 40px;
}
header h1,
footer h1 {
  font-size: 2.5em;
  margin: 0px 0px 15px 0px;
}
header h2,
footer h2 {
  font-size: 2em;
  margin: 0px 0px 15px 0px;
}
header h3,
footer h3 {
  font-size: 1.5em;
  margin: 0px 0px 15px 0px;
}
header p,
footer p {
  font-size: 1.5em;
  /*margin: 0px 0px 15px 0px;*/
}

/** contenant des diapos.  **/
/** une grille simple **/
#diapos {
  transform-origin: 0 0;
  margin: 0;
  padding: 0;
  background: none;
  box-sizing: border-box;

  display: grid;
  grid-template-columns: repeat(var(--nbc), var(--diapoW));
  /*grid-auto-flow: row;*/
  /*grid-template-rows: repeat(4,576px);*/
  grid-gap: var(--gap) var(--gap);
}
/* en mode single,  on passe a 1 element  par  rangee */
body.single #diapos {
  grid-template-columns: var(--diapoW);
}

/* pour des elements flottants */
/*
header {
    z-index: 5;
    display: block;
    background-color: red;
    position: fixed;
    top: 0px;
    left: 0px;
}
footer {
    z-index: 5;
    display: block;
    background-color: green;
    position: fixed;
    bottom: 0px;
    left: 0px;
}
*/

/*  max-width: 100%;
  height: calc(100vh - 16px);*/

/** visible pour  voir  une  diapos **/

#diapos section {
  width: var(--diapoW);
  height: var(--diapoH);
  position: relative;
  overflow: hidden;

  display: inline-block; /*?*/
  box-sizing: border-box;
  margin: 0px;
  border: 20px #eeeeeeff solid;
  padding: 20px;
  background: var(--bg);
  /*box-shadow: 10px 10px 20px rgba(1,1,1,0.3);*/

  font-family: ubuntu, sans-serif;
  font-size: 1.5em;

  border-radius: 40px;
  z-index: 0;
}

/** en  mode single, tout est invisible... **/
.single > div > section:not(.active) {
  visibility: hidden;
}

/** ... sauf la diapo  active **/

#diapos section {
  background-color: white;
  color: black;
}
body:not(.single) #diapos section.active {
  border-color: #ff000099;
}

/*************** numero diapos ***********/
#diapos {
  counter-reset: section;
}

#diapos section:before {
  counter-increment: section;
  content: counter(section);
  font-size: 3em;
  font-weight: 700;
  color: #00000040;
  position: absolute;
  right: 0px;
  bottom: 0px;
  z-index: 10;
}

/******************** dans  les  diapos ***************/

#diapos h1 {
  font-size: 2.5em;
  font-weight: 700;
  margin: 0px 0px 15px 0px;
}

#diapos h2 {
  font-size: 2em;
  font-weight: 700;
  margin: 0px 0px 15px 0px;
}

#diapos ul {
  margin: 1em 0 1em 0;
}
#diapos li {
  margin: 0 0 0.5em 0;
}

#diapos pre {
  background-color: #eeeeee;
  padding: 0 20px 0 20px;
}
#diapos pre code {
  padding: 0;
}

#diapos code {
  background-color: #eeeeee;
  font-family: "Courier New", monospace;
  padding: 5px;
  border-radius: 10px;
}

/********************* colonnes *****************/

/* Columns */

*[class^="columns-"],
.columns {
  display: grid;
  width: 100%;
  grid-column-gap: 50px;
  grid-auto-flow: row;
}

*[class^="rows-"] {
  display: grid;
  width: 100%;
  grid-column-gap: 50px;
  grid-auto-flow: column;
}

.columns-1-1,
.columns.two {
  grid-template-columns: 1fr 1fr;
}

.rows-2 {
  grid-template-rows: repeat(2, 1fr);
}
.rows-3 {
  grid-template-rows: repeat(3, 1fr);
}
.rows-4 {
  grid-template-rows: repeat(4, 1fr);
}
.rows-5 {
  grid-template-rows: repeat(5, 1fr);
}

.columns-2 {
  grid-template-columns: repeat(2, 1fr);
}
.columns-3 {
  grid-template-columns: repeat(3, 1fr);
}
.columns-4 {
  grid-template-columns: repeat(4, 1fr);
}
.columns-5 {
  grid-template-columns: repeat(5, 1fr);
}

.vertical-columns-2 {
  column-count: 2;
}
.vertical-columns-3 {
  column-count: 3;
}
.vertical-columns-4 {
  column-count: 4;
}
.vertical-columns-5 {
  column-count: 5;
}

.columns-1-2 {
  grid-template-columns: 1fr 2fr;
}

.columns-1-1-1,
.columns.three {
  grid-template-columns: 1fr 1fr 1fr;
}

.columns-1-1-1-1,
.columns.four {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

/********************* modeles de diapo ************/

/*
#diapos section.g1 {
  display: grid;
  width: 100%;
  height: 100%;
  background-color: red;
  grid-template-areas:
    "head head"
    "nav  main"
    "nav  foot";
  grid-template-rows: 200px 1fr 200px;
  grid-template-columns: 200px 1fr;
}
.ga {
  grid-area: head;
  background-color: #8ca0ff;
}
.gb {
  grid-area: nav;
  background-color: #ffa08c;
}
.gc {
  grid-area: main;
  background-color: #ffff64;
}
.gd {
  grid-area: foot;
  background-color: #8cffa0;
}
*/

/*******************  print *****************/

@media print {
  :root {
    --nbc: 1;
  } /* nombre de colonnes en mode print */
  #diapos {
    transform: scale(1) !important;
    height: auto !important;
  }
  #diapos section {
    border: 20px #dddddd solid;
    visibility: visible;
  }
  /*.single > div > section:not(.active) { visibility:visible; }*/
  header,
  footer {
    display: block !important;
  }
}

@page {
  margin: 20px;
  size: 1064px 616px;
}


/**********************/
/** index  general **/

.index-general {
  font-size: 1.5rem;
  font-weight: 400;
}
.index-general a:link  { color:#00aaff}
.index-general a:visited  { color:#0088dd}

.index-general h2 {  font-size: 1.5rem; color:#fc0;font-weight:700; }
.index-general h3 {  font-size: 1.5rem; color:#fff;font-weight:400;margin:10px 0 10px 0; }

.index-general ul { list-style-type:none; }
.index-general > div  > ul { list-style-type: none; }
.index-general li { margin: 8px 0 0 8px;}

.index-general ul li::before { content: "■"; color: #fc0;
  display: inline-block; font-size: 0.75rem;position: relative;bottom:0.3em;right:1em;}
.index-general > div  > ul > li::before { content: none; }

/*****************************************/
.deroule-contenant {
  /*overflow: hidden;*/
}

.deroule-contenu {
  height: 100%;
  text-align: left;
  transform: translateY(100%);
  animation: my-animation 35s linear infinite;
}

@keyframes my-animation {
  from { transform: translateY(100%); }
  to { transform: translateY(-100%); }
}

/* en  attendant de corriger le  probleme de  autoreduce */
.autoreduce  {
    overflow-x: scroll;
    overflow-y: scroll;
}

/****************************************/

footer  {  position:relative; }

#timer {
  position:absolute;
  right:0;
  top:0;
}

