

/** attention,  la taille  des boites  va  inclure  padding  et  border **/
* { margin:0; padding:0; border:0; box-sizing: border-box; }


body {
	color:white;
	background-color:black;
	/*overflow-X:hidden;*/
}
:fullscreen body { overflow-X: hidden; }
body.noscrollY { overflow-Y: hidden; }

/** la taille de chaque section est ajustee a la dimension verticale de l'ecran **/
/** Donc il faut utiliser des unites  "vh"  plutot que  "px" **/
section {
	height:100vh;
	width:calc(100vh*16/9); /* ratio 16:9 */
	position:relative; /* pour permettre les  positions  absolute */
	overflow:  hidden; /* pas  de debordement  dans une section! */

	font-size:20vh; /*  en vh pour s'ajuster a la taille...  100vh=hauteur  de la  diapo */
}
/* juste  pour  voir les sections clairement */
section:nth-child(odd)  { background-color: orange;  }
section:nth-child(even) { background-color: pink;  }



/*** les boutons de  controle ***/

#boutons  {
	position:fixed;
	margin:20px;
	right:0px;
	bottom:0px;
	display:flex;
	flex-direction: column;
	gap:10px;
}
#boutons button {
	padding:5px;
	color:black;
	opacity:0.4;
	background-color:white;
	border-radius:10px;
	font-family: 'Font Awesome\ 5 Free';
	font-weight: 900;
	font-size: 64px;
}
            #goAS:before { content: "\e4bb"; } /* fa-arrows-spin */
            #goUp:before { content: "\f102"; } /* fa-angles-up */
            #goFS:before { content: "\f31e"; } /* fa-maximize */
:fullscreen #goFS:before { content: "\f78c"; } /* fa-minimize */
            #goDn:before { content: "\f103"; } /* fa-angles-down */

@keyframes rotating {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.rotating { animation: rotating 20s linear infinite; }


