

#panneau-soleil svg {
	width: 100%;
	height: 100%;
	background-color: #666666;
}
#panneau-soleil .rayon  { stroke-width: 5;  stroke: orange;  stroke-linecap:  round;  }
#panneau-soleil .brulant { stroke-width: 10; stroke: red; }

